.titre{
  //padding-top: 5px;
    //padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    color: #3498db;
    //background-color: #e7e5e4;
    font-family: 'Gabriela', serif;
    font-size: 50px;
    letter-spacing: .10em;
    //text-align: center;
    text-shadow:
        1px -1px 0 #767676,
        -1px 2px 1px #767474;
        
}
.container{
    margin-top: 2vh !important;
}.blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 50px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 25px;
  line-height: 1.2;
  color: #3498db;
  text-align: justify;

  /*Borders - (Optional)*/


    border-radius: 5px;

  /*Box Shadow - (Optional)*/

  box-shadow: 2px 2px 40px #3498db;
}

.blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #3498db;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}.blockquote .author{
    position: absolute;
    right: 10px;
    bottom: 1px;
    font-size: 15px;
    font-family: monospace ,cursive;
    font-weight: 300;
}
